@font-face {
  font-family: 'ondine';
  src: url(../fonts/OndineRegular.ttf);
}

.light {font-weight: $light;}

.bold {font-weight: $bold;}

.medium {font-weight: $medium;}

.regular {font-weight: $regular;}

.italic {font-style: italic;}

.ashBlue {color: $ashBlue;}

.doveGrey {color: $doveGrey;}

.dandelion {color: $dandelion;}

.blueSlate {color: $blueSlate;}

h1 {font-family: $primary;font-size: $h1FontSize; letter-spacing: $primarySpacing;}

h2 {font-family: $primary;font-size: $h2FontSize; letter-spacing: $primarySpacing;}

h3 {font-family: $primary;font-size: $h3FontSize; letter-spacing: $primarySpacing;}

h4 {font-family: $secondary;font-size: $h4FontSize;}

h5 {font-family: $secondary;font-size: $h5FontSize;}

h6 {font-family: $secondary;font-size: $h6FontSize;}

p {font-family: $secondary;font-size: $pFontSize;margin: 0;line-height: $pLineHeight;}
