footer {
  background-color: $muted;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.footer-div {
  display: flex;
  flex-direction: column;
  align-self: flex-start;
}

a.footlink, span.footlink {
  color: $blueSlate;
  font: {
    size: $navLinkSmall;
  }
}

a.footlink {
  &:hover, &:active, &:focus {
    color: $ashBlue;
  }
}
