// Logo

nav {
  // height: 100px;
}

span.gizza {
  font-family: 'ondine';
  font-size: 36px;
  color: rgba(107, 102, 99);
  display: block;
  line-height: 15px;
}

span.joyas {
  font-family: 'serif';
  font-size: 18px;
  color: rgba(107, 102, 99);
  display: block;
}


@media (min-width: 959px) {

  nav {
    height: 160px;
  }

  span.gizza {
    font-family: 'ondine';
    font-size: 50px;
    color: rgba(107, 102, 99);
    display: block;
    line-height: 15px;
  }

  span.joyas {
    font-family: 'serif';
    font-size: 35px;
    color: rgba(107, 102, 99);
    display: block;
  }

  // Color de fondo de la Navbar
  .cbp-af-header.uk-navbar-container:not(.uk-navbar-transparent) {
    background: #ffffff00;
  }

  /* Transitions and class for reduced height */

  .cbp-af-header {
  	-webkit-transition: all 0.8s;
  	-moz-transition: all 0.8s;
  	transition: all 0.8s;
  }

  .cbp-af-header.uk-navbar-container:not(.uk-navbar-transparent).cbp-af-header-shrink {
  	height: 90px;
  	background-color: #f6f6f6;
  }

  .cbp-af-header.cbp-af-header-shrink li a {
    color: blue;
  }

  .cbp-af-header.cbp-af-header-shrink .gizza {
    // display: none;
    font-size: 36px;
  }

  .cbp-af-header.cbp-af-header-shrink .joyas{
    // display: none;
    font-size: 18px;
  }

  // .cbp-af-header.cbp-af-header-shrink .hidden{
  //   display: block;
  //   font-size: 36px;
// }

}
