nav {
  min-height: 66px;
  background-color: white;
  position: relative;
}

.nav-categories {
  // border-top: 1.5px solid #e5e5e5;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: $blueSlate;
}

span.gizza {
  letter-spacing: 2px;
  font-family: 'ondine';
  font-size: 40px;
  // color: rgba(107, 102, 99);
  color: $blueSlate;
  display: block;
  line-height: 15px;
}

span.joyas {
  color: $blueSlate;
  font-family: $secondary;
  font-size: 12px;
  display: block;
}

li a.navlink, button.navlink{
  color: white;
  letter-spacing: 1px;
  font: {
    size: $navLinkBig;
    // family: $primary;
    weight: $medium;
  }
  &:hover, &:active, &:focus, li:hover > a {
    color: $ashBlue;
  }
}

li a.burger, .uk-search .uk-search-icon, .uk-search-input {
  color: $blueSlate;
}

button.navlink {
  background-color: white;
  outline: none !important;
  border: none;
  margin-top: 0;
  margin-bottom: 0.5px;
}

.items-in-cart {
  position: relative;
  width: 14px;
  height: 14px;
  display: flex !important;
  justify-content: center;
  align-items: center;
  top: 9px;
  left: 35px;
  background-color: $dandelion;
  font-size: 7px;
  border-radius: 10px;
  color: white;
  z-index: 1000;
}

// Al achicharse la navbar van a presentarste estos valores

/* La animacion de cambio */
.cbp-af-header {
  -webkit-transition: all 0.4s;
	-moz-transition: all 0.4s;
	transition: all 0.4s;
}
