// Logo

nav {
  min-height: 66px;
  background-color: transparent;
  position: relative;
}

.nav-categories {
  border-top: 0.5px solid $blueSlate;
  padding-top: 10px;
  padding-bottom: 10px;
}

span.gizza {
  font-family: 'ondine';
  font-size: 40px;
  // color: rgba(107, 102, 99);
  color: $blueSlate;
  display: block;
  line-height: 15px;
}

span.joyas {
  font-family: 'serif';
  font-size: 18px;
  color: rgba(107, 102, 99);
  display: block;
}

li a.navlink, button.navlink{
  color: $blueSlate;
  letter-spacing: 1px;
  font: {
    size: $navLinkBig;
    // family: $primary;
    weight: $medium;
  }
  &:hover {
    color: $blueSlateHover;
  }
}

li a.burger, .uk-search .uk-search-icon, .uk-search-input {
  color: $blueSlate;
}

button.navlink {
  background-color: white;
  outline: none !important;
  border: none;
  margin-top: 0;
  margin-bottom: 0.5px;
}
