// Vista Productos

.product {
  border-bottom: 1px solid $ashBlue;
    &:hover {
      border-color: $blueSlate;
    }
}

.product-desc {
  text-overflow: ellipsis;
}

.inside {
  position: relative;
  cursor: pointer;
}

.icons-product {
  // position: absolute;
  // top: -10px;
  // right: 5px;
  // justify-content: flex-end;
  display: flex;
  justify-content: center;
}

.onSale-label {
  position: absolute;
  top: 10px;
  left: 10px;
  width: 96%;
  height: 95%;
  display: flex;
  justify-content: flex-start;
}

img.producto {
  height: 230px;
  width: 300px!important;
  object-fit: cover;
}

.sale {
  color: white;
  background-color: $dandelion;
  padding: 0 7px;
  border-radius: 11px;
}

.new-label {
  display: flex;
  justify-content: center;
}

.new {
  color: white;
  background-color: $blueSlate;
  padding: 0 7px;
  border-radius: 11px;
}

.uk-iconnav > * > a.rounded-icon {
  display: block;
  color: $blueSlate;
  border: 1px solid $blueSlate;
  padding: 7px;
  border-radius: 20px;
}

[uk-icon="icon: heart; ratio: 2"] svg {
  width: 30px;
  height: 30px;
}

[uk-icon="icon: cart; ratio: 2"] svg {
  width: 30px;
  height: 30px;
}

.isFavourite[uk-icon="icon: heart; ratio: 2"] svg path, .isFavourite[uk-icon="icon: heart;"] svg path {
fill: #ae1d1d;
color: #ae1d1d;
}
