@media (max-width: 530px) {

// Se ocultan cuando en resoluciones iguales o menores a 530
  .hiddenXS {
    display: none;
  }

}

@media (min-width: 530px) {

// Se muestran scuando en resoluciones iguales o mayores a 530
  .visibleSoloXS {
    display: none;
  }

}

// XS Extra small devices (portrait phones, less than 576px)
// @media (min-width: 576px) {}

// S Small devices (landscape phones, less than 768px)
@media (max-width: 768px) {

  .btn {
    // width: $buttonWidth - 20px;
  }

}

// M Medium devices (tablets, less than 992px)
@media (max-width: 992px) {

  .intro {
    text-align: center;
  }

  .hero-btn {
    text-align: center;
    margin-bottom: 100px;
  }

  h1 {font-size: $h1FontSize - 1;}

  h2 {font-size: $h2FontSize - 1;}

  h3 {font-size: $h3FontSize - 1;}

  h4 {font-size: $h4FontSize - 1;}

  h5 {font-size: $h5FontSize - 1;}

  h6 {font-size: $h6FontSize - 1;}

  p {font-size: $pFontSize - 2;}


  footer section {
    flex-direction: column;
    align-self: center;
  }

  .footer-ul {
    display: flex;
  }

  .footer-div {
    margin-bottom: 20px;
    align-self: center;
    align-items: center;
  }

}

// L Large devices (desktops, less than 1200px)
@media (min-width: 1200px) {

}

// Extra large devices (large desktops)
// No media query since the extra-large breakpoint has no upper bound on its width
