// Colors

$ashBlue : #A6C2CE;
$doveGrey : #9C8F96;
$dandelion : #EBC57C;
$blueSlate : #6B799E;
$muted : #f6f6f8;
$placeholderColor : #C6C6C6;

// Font-family

$logo : 'ondine';
$primary : 'Playfair Display', serif; // regular, medium, bold
$secondary : 'Source Sans Pro', sans-serif; // light, regular, bold

// Font-size

$h1FontSize : 32px;
$h2FontSize : 24px;
$h3FontSize : 18px;
$h4FontSize : 16px;
$h5FontSize : 13px;
$h6FontSize : 12px;
$pFontSize : 14px;
$navLinkBig : 15px;
$navLinkSmall : 14px;
$buttonFont : 12px;

// Font-weight

$light : 300;
$regular : 400;
$medium : 500;
$bold : 700;

// letter-spacing

$primarySpacing : 2px;

// Line-height

$h1LineHeight : 115px;
$h2LineHeight : 60px;
$pLineHeight : 25px;
$buttonLineHeight : 20px;

// Button

$buttonWidth : 180px;
$buttonHeight : 40px;

// Hover

$ashBlueHover : #a6c2cec9;
$doveGreyHover : #9c8f9694;
$dandelionHover : #ebc57cc4;
$blueSlateHover : #6b799ee8;
$placeholderColor : #C6C6C6;
