@font-face {
  font-family: "ondine";
  src: url(../fonts/OndineRegular.ttf);
}
.light {
  font-weight: 300;
}

.bold {
  font-weight: 700;
}

.medium {
  font-weight: 500;
}

.regular {
  font-weight: 400;
}

.italic {
  font-style: italic;
}

.ashBlue {
  color: #A6C2CE;
}

.doveGrey {
  color: #9C8F96;
}

.dandelion {
  color: #EBC57C;
}

.blueSlate {
  color: #6B799E;
}

h1 {
  font-family: "Playfair Display", serif;
  font-size: 32px;
  letter-spacing: 2px;
}

h2 {
  font-family: "Playfair Display", serif;
  font-size: 24px;
  letter-spacing: 2px;
}

h3 {
  font-family: "Playfair Display", serif;
  font-size: 18px;
  letter-spacing: 2px;
}

h4 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 16px;
}

h5 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 13px;
}

h6 {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 12px;
}

p {
  font-family: "Source Sans Pro", sans-serif;
  font-size: 14px;
  margin: 0;
  line-height: 25px;
}

@media (max-width: 530px) {
  .hiddenXS {
    display: none;
  }
}
@media (min-width: 530px) {
  .visibleSoloXS {
    display: none;
  }
}
@media (max-width: 992px) {
  .intro {
    text-align: center;
  }

  .hero-btn {
    text-align: center;
    margin-bottom: 100px;
  }

  h1 {
    font-size: 26px;
  }

  h2 {
    font-size: 19px;
  }

  h3 {
    font-size: 20px;
  }

  h4 {
    font-size: 21px;
  }

  h5 {
    font-size: 21px;
  }

  h6 {
    font-size: 21px;
  }

  p {
    font-size: 12px;
  }
}
@media (min-width: 1200px) {
  .brightness {
    filter: brightness(50%);
  }

  .brightness:hover {
    filter: brightness(80%);
  }
}
.btn {
  letter-spacing: 2px;
  margin-bottom: 5px;
  border: 3px solid;
  border-radius: 2px;
  font-family: "Playfair Display", serif;
  font-weight: 700;
  line-height: 20px;
  width: 180px;
  height: 40px;
}
.btn:focus, .btn .btn.focus {
  box-shadow: none;
}
.btn:hover {
  color: white;
}

.border {
  border: 1px solid;
}

.border-doveGrey {
  border-color: #9C8F96;
  color: #9C8F96;
}
.border-doveGrey:hover {
  border-color: #9c8f9694;
  color: #9C8F96;
}

.border-ashBlue {
  border-color: #A6C2CE;
  color: #A6C2CE;
}
.border-ashBlue:hover {
  border-color: #a6c2cec9;
  color: #A6C2CE;
}

.border-dandelion {
  border-color: #EBC57C;
  color: #EBC57C;
}
.border-dandelion:hover {
  border-color: #ebc57cc4;
  color: #EBC57C;
}

.border-blueSlate {
  border-color: #6B799E;
  color: #6B799E;
}
.border-blueSlate:hover {
  border-color: #6b799ee8;
  color: #6B799E;
}

.bg-doveGrey {
  background-color: #9C8F96;
  border-color: transparent;
  color: white;
}
.bg-doveGrey:hover {
  background-color: #9c8f9694;
  border-color: transparent;
}

.bg-ashBlue {
  background-color: #A6C2CE;
  border-color: transparent;
  color: white;
}
.bg-ashBlue:hover {
  background-color: #a6c2cec9;
  border-color: transparent;
}

.bg-dandelion {
  background-color: #EBC57C;
  border-color: transparent;
  color: white;
}
.bg-dandelion:hover {
  background-color: #ebc57cc4;
  border-color: transparent;
}

.bg-blueSlate {
  background-color: #6B799E;
  border-color: transparent;
  color: white;
}
.bg-blueSlate:hover {
  background-color: #6b799ee8;
  border-color: transparent;
}

nav {
  min-height: 66px;
  background-color: transparent;
  position: relative;
}

.nav-categories {
  border-top: 1px solid grey;
  padding-top: 10px;
  border-bottom: 1px solid grey;
  padding-bottom: 10px;
}

span.gizza {
  font-family: "ondine";
  font-size: 40px;
  color: #6b6663;
  display: block;
  line-height: 15px;
}

span.joyas {
  font-family: "serif";
  font-size: 18px;
  color: #6b6663;
  display: block;
}

@media (min-width: 959px) {
  span.gizza {
    font-family: "ondine";
    font-size: 50px;
    color: #6b6663;
    display: block;
    line-height: 15px;
  }

  span.joyas {
    font-family: "serif";
    font-size: 20px;
    color: #6b6663;
    display: block;
  }

  /* Transitions and class for reduced height */
}
* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  list-style-type: none;
  text-decoration: none;
  scroll-behavior: smooth;
}

a, button {
  transition: background-color 0.8s ease !important;
  -webkit-transition: background-color 0.8s ease !important;
  -o-transition: background-color 0.8s ease !important;
  -moz-transition: background-color 0.8s ease !important;
}
a:hover, button:hover {
  text-decoration: none;
}

.container-fluid {
  padding: 0;
  margin: 0;
}

.row {
  margin-left: 0;
  margin-right: 0;
}

.hidden {
  display: none;
}

.wow {
  visibility: hidden;
}

::selection {
  background-color: #A6C2CE !important;
  color: white;
}

/* Para modificar los valores de la barra de scroll lateral https://codepen.io/zakkain/pen/phjBC */